### [requests_DB] 스타벅스 데이터프레임 DB 적재

< 참고 >
- https://datalibrary.tistory.com/97
-

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv("starbucks/starbucks_raw.csv", index_col=0)

In [ ]:
df.head(1)

In [ ]:
df.columns

In [ ]:
#df = df[['sido_name', 'gugun_name', 's_name', 'doro_address', 'open_dt']]
df = df[['sido_code', 'gugun_code', 's_code', 'doro_address', 'open_dt']]

In [ ]:
df.info()

#### 방법1. to_sql  (sqlalchemy 사용)

In [ ]:
#!pip install pymysql
#!pip install sqlalchemy

In [ ]:
from sqlalchemy import create_engine
import pymysql

In [ ]:
db_connection_str = 'mysql+pymysql://root:1234@localhost/work'
db_connection = create_engine(db_connection_str)

In [ ]:
conn = db_connection.connect()

In [ ]:
df.to_sql(name='sbuck_address1', con=conn, if_exists='replace', index=False) #append

In [ ]:
conn.close()

#### 방법2. csv_to_table (교재 10.5.1 참고)

In [ ]:
import pandas as pd
import pymysql

In [ ]:
#df = pd.read_csv("starbucks/starbucks_raw.csv", index_col=0)

In [ ]:
df.info()

In [ ]:
#df = df.replace({np.nan: None})

In [ ]:
config = {
    'host' : '127.0.0.1',
    'user' : 'root',
    'password' : '1234',
    'database' : 'work',
    'port' : 3306,
    'charset':'utf8',
    'use_unicode' : True}

In [ ]:
#df.iloc[:,0]

In [ ]:
#try :
conn = pymysql.connect(**config)
cursor = conn.cursor()

In [ ]:
# table 조회
cursor.execute("show tables")
tables = cursor.fetchall()
sw = False
for table in tables :
    #print(table) # ('bmi_tab',)
    #print(table[0]) # bmi_tab
    if table[0] == 'sbuck_address2' :
        sw = True # table 있는 경우 swapping

In [ ]:
print(tables)

In [ ]:
sw = False

In [ ]:
if not sw :
    print('테이블 없음')
    # table 없으면 생성
    sql="""
CREATE TABLE sbuck_address2 (\
    sido_code VARCHAR(30) NOT NULL,\
    gugun_code VARCHAR(30) NOT NULL,\
    s_code VARCHAR(30) NOT NULL,\
    doro_address TEXT NULL,\
    open_dt TEXT NULL,\
    PRIMARY KEY (sido_code(30), gugun_code(30), s_code(30))\
);
    """
    cursor.execute(sql)

In [ ]:
print(sql)

In [ ]:
cursor.execute("select * from sbuck_address2")
rows = cursor.fetchall()

In [ ]:
for row in rows :
    for i in range(0,len(rows[0])):
        print(f"{row[i]}", end = ' ')
    print(f"\n")
print('전체 레코드 수 : ', len(rows))

In [ ]:
len(df.columns)

In [ ]:
df.dtypes

In [ ]:
#len(df)

In [ ]:
i=0
df.iloc[i,4]

In [ ]:
df.columns

In [ ]:
for i in range(0, len(df)):
    sql = """INSERT INTO sbuck_address2 \
    (sido_code, gugun_code, s_code, doro_address, open_dt) \
    VALUES (%s, %s, %s, %s, %s)"""
    val = (df.iloc[i,0], df.iloc[i,1], df.iloc[i,2], df.iloc[i,3],
           df.iloc[i,4])
    cursor.execute(sql, val)
    conn.commit()

In [ ]:
sql

In [ ]:
val

In [ ]:
df.loc[i]

In [ ]:
### 최종 버전
cursor.execute("select * from sbuck_address2")
rows = cursor.fetchall()

if rows : # 레코드 있는 경우 : 레코드 조회
    for row in rows :
        for i in range(0,len(rows[0])):
            print(f"{row[i]}", end = ' ')
        print(f"\n")
    print('전체 레코드 수 : ', len(rows))
    
else: # 레코드 없는 경우 : 레코드 추가
    len_df = len(df) 
    print(f"{len_df} : 레코드 추가")
    for i in range(0, len(df)):
        sql = """INSERT INTO sbuck_address2 \
        (sido_code, gugun_code, s_code, doro_address, open_dt) \
        VALUES (%s, %s, %s, %s, %s)"""
        val = (df.iloc[i,0], df.iloc[i,1], df.iloc[i,2], df.iloc[i,3],
               df.iloc[i,4])
        cursor.execute(sql, val)
        conn.commit()

In [ ]:
# except Exception as e:
#     print('db error :', e)
#finally:
cursor.close()
conn.close()

#### 방법3. CRUD 구문 사용 (변화분에 대한 업데이트, 교재 10.4.2 참고)

In [ ]:
# '''
# CRUD 
#  - Create, Read, Update, Delete
# '''

In [ ]:
import pymysql

In [ ]:
config = {
    'host' : '127.0.0.1',
    'user' : 'scott',
    'password' : 'tiger',
    'database' : 'work',
    'port' : 3306,
    'charset':'utf8',
    'use_unicode' : True}

In [ ]:
try :    
    conn = pymysql.connect(**config)
    cursor = conn.cursor()
 
    if rows :
        # UPDATE 레코드 수정
        # code 이용 -> 상품명, 수량, 단가 수정
        '''     
        code = int(input('수정할 코드 입력 : '))
        name = input('수정할 상품명 입력 : ')
        su = int(input('수정할 수량 입력 :'))
        dan = int(input('수정할 단가 입력 :'))

        sql = f"update goods set name='{name}', su={su}, dan = {dan} where code={code}"
        cursor.execute(sql)
        conn.commit()
        '''
    else :
        print('해당 code 없음 ')
        
           
    # 레코드 출력 : 양식문자 
    for r in rows : # fetchone()
        #print(r) # tuple type 출력       
        print('%d    %s    %d     %d'%r)     
    
    print('검색 레코드 수 :', len(rows))
    
except Exception as e :
    print('db 연동 오류 : ', e)
    conn.rollback()
finally:
    cursor.close()
    conn.close()