In [24]:
# !pip install pymysql
# !pip install sqlalchemy

In [72]:
import pandas as pd
import pymysql
from sqlalchemy import create_engine

In [73]:
df=pd.read_csv('data/starbucks.csv')

In [74]:
df.head()
df.drop('Unnamed: 0', axis=1,inplace=True)

In [75]:
df.head()

,sido_name,gugun_name,sido_code,gugun_code,addr,doro_address,s_code,s_name,open_dt,lat,lot,s_biz_code,store_area_code,out_distance,defaultimage
0,서울,강남구,1,101,서울특별시 강남구 역삼동 755 한솔필리아,서울특별시 강남구 역삼로 310 (역삼동),1727,역삼이마트,20201127,37.499367,127.048425,4043,A01,108.14,http://image.istarbucks.co.kr/upload/store/202...
1,서울,강남구,1,101,서울특별시 강남구 삼성동 168-22 페코빌딩,서울특별시 강남구 영동대로96길 12 (삼성동),1846,삼성동,20210806,37.510843,127.063633,4104,A01,109.95,http://image.istarbucks.co.kr/upload/store/202...
2,서울,강남구,1,101,서울특별시 강남구 논현동 164-7,서울특별시 강남구 강남대로 512 (논현동),1902,강남논현,20211216,37.507898,127.023339,4244,A01,106.74,http://image.istarbucks.co.kr/upload/store/202...
3,서울,강남구,1,101,서울특별시 강남구 역삼동 702-10 아남타워빌딩,서울특별시 강남구 테헤란로 311 (역삼동),1752,테헤란로아남타워,20210107,37.503830,127.044870,3990,A01,108.13,http://image.istarbucks.co.kr/upload/store/202...
4,서울,강남구,1,101,서울특별시 강남구 대치동 996-1번지,서울특별시 강남구 테헤란로 620 (대치동),2000,삼성역,20220707,37.509207,127.065609,4319,A01,110.00,http://image.istarbucks.co.kr/upload/store/202...

In [76]:
df.columns

Index(['sido_name', 'gugun_name', 'sido_code', 'gugun_code', 'addr',
       'doro_address', 's_code', 's_name', 'open_dt', 'lat', 'lot',
       's_biz_code', 'store_area_code', 'out_distance', 'defaultimage'],
      dtype='object')

In [77]:
df = df[['sido_name', 'gugun_name', 's_name', 'doro_address', 'open_dt']]

In [78]:
df.head()

  sido_name gugun_name    s_name                doro_address   open_dt
0        서울        강남구     역삼이마트     서울특별시 강남구 역삼로 310 (역삼동)  20201127
1        서울        강남구       삼성동  서울특별시 강남구 영동대로96길 12 (삼성동)  20210806
2        서울        강남구      강남논현    서울특별시 강남구 강남대로 512 (논현동)  20211216
3        서울        강남구  테헤란로아남타워    서울특별시 강남구 테헤란로 311 (역삼동)  20210107
4        서울        강남구       삼성역    서울특별시 강남구 테헤란로 620 (대치동)  20220707

In [79]:
df['gugun_name']

0       강남구
1       강남구
2       강남구
3       강남구
4       강남구
       ...
1835    NaN
1836    NaN
1837    NaN
1838    NaN
1839    NaN
Name: gugun_name, Length: 1840, dtype: object

In [80]:
df=df.fillna(value='')
df[df['sido_name']=='세종']
df

,sido_name,gugun_name,s_name,doro_address,open_dt
0,서울,강남구,역삼이마트,서울특별시 강남구 역삼로 310 (역삼동),20201127
1,서울,강남구,삼성동,서울특별시 강남구 영동대로96길 12 (삼성동),20210806
2,서울,강남구,강남논현,서울특별시 강남구 강남대로 512 (논현동),20211216
3,서울,강남구,테헤란로아남타워,서울특별시 강남구 테헤란로 311 (역삼동),20210107
4,서울,강남구,삼성역,서울특별시 강남구 테헤란로 620 (대치동),20220707
...,...,...,...,...,...
1835,세종,,세종종촌,세종특별자치시 도움3로 105-10 (종촌동) 성운프라자,20150424
1836,세종,,세종어진R,세종특별자치시 한누리대로 499 (어진동),20160714
1837,세종,,세종새롬,세종특별자치시 새롬중앙로 64 (새롬동),20170817
1838,세종,,세종보람,"세종특별자치시 한누리대로 2165 (보람동) A118,119,120,121,128,...",20191212
1839,세종,,세종다정DT,세종특별자치시 다정북로 219 (다정동),20190530

In [81]:
df['gugun_name']

0       강남구
1       강남구
2       강남구
3       강남구
4       강남구
       ...
1835
1836
1837
1838
1839
Name: gugun_name, Length: 1840, dtype: object

In [61]:
# db_connection_str = 'mysql+pymysql://root:1234@localhost/work'
# db_connection = create_engine(db_connection_str)

# conn = db_connection.connect()

# # conn = db_connection.connect() - 커넥션 객체 or db_connection = create_engine(db_connection_str) - 엔진 객체  (둘다 con에 인자로 넣어도 됨)
# df.to_sql(name='star_tab', con=conn, if_exists='replace', index=False)

# conn.close()

In [82]:
config = {
    'host' : '127.0.0.1',
    'user' : 'root',
    'password' : '1234',
    'database' : 'work',
    'port' : 3306,
    'charset' : 'utf8',
    'use_unicode' : True
}

In [87]:
conn = pymysql.connect(**config)
cursor = conn.cursor()

In [89]:
cursor.execute("show tables")
tables = cursor.fetchall()
tables

(('bmi_tab',), ('goods',), ('goods1',), ('starbucks',), ('zipcode_tab',))

In [101]:
sql = """create table star_tab(
    sido_name VARCHAR(30) NULL,
    gugun_name VARCHAR(30) NULL,
    s_name VARCHAR(30) NULL,    
    doro_address VARCHAR(100) NULL,
    open_dt VARCHAR(30) NULL,
    PRIMARY KEY(sido_name, gugun_name, s_name)
    )"""

cursor.execute(sql)

0

In [102]:
for i in range(0,len(df)):
    sql = """insert into star_tab(sido_name, gugun_name, s_name, doro_address, open_dt) \
            values(%s, %s, %s, %s, %s)"""
    val = (df.iloc[i,0], df.iloc[i,1], df.iloc[i,2], df.iloc[i,3], df.iloc[i,4])
    cursor.execute(sql,val)
    conn.commit()

In [ ]:
# 기존 파일이랑 차이가 있을 때 업데이트를 어떻게 할 것인가